    <section id="how-it-works">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 vcenter">
              <img src="images/pic01.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8">
              <h2>How it works</h2>
              <hr />
              <p>The site assigns us a year every week. During that week our mission is to pick our favorite album released that year. We both listen to all 3 of the selections, give our thoughts and ratings. The site compiles interesting analysis to our impressions, and like nerds, we enjoy</p>
            </div>
          </div>

      </div>
    </section>
    
    <section id="last-week">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-push-8">
            <img ng-src="images/years/{{hc.previousYear.year}}.jpg" class="img-circle img-responsive">
          </div>
          <div class="col-xs-12 col-sm-8 col-sm-pull-4">
            <h2>Last Week's Assignment: {{hc.previousYear.year}}</h2>
            <hr />
            <div ng-repeat="previousAlbum in hc.previousAlbums">
              <h3>{{previousAlbum.source_name}}'s Pick: <a href="/view-album/{{previousAlbum.album_id}}">{{previousAlbum.album_name}}</a> by <a href="/view-artist/{{previousAlbum.artist_id}}">{{previousAlbum.artist_name}}</a></h3>
              <div class="row">
                <div class="col-xs-4">
                  <a href="/view-album/{{previousAlbum.album_id}}"><img ng-src="images/albums/{{previousAlbum.album_id}}.jpg" class="img-responsive home-album"></a>
                    <span ng-repeat="rating in previousAlbum.reviews">{{rating.review_source_name}}'s Rating: {{rating.score | number : 2}}<br /></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="this-week">
      <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img ng-src="images/years/{{hc.currentYear.year}}.jpg" class="img-circle img-responsive align-middle">
          </div>
          <div class="col-xs-12 col-sm-8 text-right">
            <h2>This Week's Assignment: {{hc.currentYear.year}}</h2>
            <hr />
            <div ng-repeat="currentAlbum in hc.currentAlbums">
              <h3>{{currentAlbum.source_name}}'s Pick: <a href="/view-album/{{currentAlbum.album_id}}">{{currentAlbum.album_name}}</a> by <a href="/view-artist/{{currentAlbum.artist_id}}">{{currentAlbum.artist_name}}</a></h3>
              <div class="row">
                <div class="col-xs-4 col-xs-push-8">
                  <a href="/view-album/{{currentAlbum.album_id}}"><img ng-src="images/albums/{{currentAlbum.album_id}}.jpg" class="img-responsive home-album"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="vital-statistics">
      <div class="container">
        <h2>Vital Statistics</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="images/pic04.jpg">
              <div class="caption">
                <h4 class="">Application</h4>

                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                  culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="images/pic04.jpg">
              <div class="caption">
                <h4 class="">Application</h4>

                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                  culpa itaque odio similique suscipit</p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>  <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>