#album-header {
  background-color: #808080;
  margin-top:-50px;
}

#album-blurb {
  background-color: #9d9d9d;
}

#track-listing {
  background-color: #cccccc;
}

#album-review {
  background-color: #dddddd;
}

#comments {
  background-color: #eeeeee;
}

#album-statistics {
  background-color: #f5f5f5;
}

.album-blurb-text {
  white-space: pre-line;
}