#artist-header {
  background-color: #808080;
  margin-top:-50px;
}

#albums-list {
  background-color: #9d9d9d;
}

#comments {
  background-color: #eeeeee;
}

#artist-statistics {
  background-color: #f5f5f5;
}

.artist-blurb-text {
  white-space: pre-line;
}